* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 1rem;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(127, 204, 255);
  color: #3e3a4a;
}

nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 90%;
  margin-left: 2rem;
  padding: 0.2rem;
}

li {
  background-color: rgb(13, 102, 236);
  padding: 0.4rem;
  width: 30%;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: rgb(255, 255, 255);
  box-shadow: 0 0.2rem 0.2rem black;
}
